<h1><%= I18n.t('comic_requests.title') %></h1>

<h3><%= I18n.t('comic_requests.description')%></h3>

<%= render 'form' %>

<div class="back-link link-to-actions">
<%= link_to I18n.t('link.back'), root_path %>
</div>