@font-face {
	font-family: Vador;
	src: url('/fonts/vador.ttf');
}

@font-face {
	font-family: Bigmouth;
	src: url('/fonts/Bigmouth.otf');
}


/* General */

body {
	font-family: Bigmouth, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

#content {
	clear: both;
}

#container {
	width: 800px;
}

#main {
	width: 530px;
	float: left;
}

#sidebar {
	width: 200px;
	float: right;
}

#sidebar section {
	padding-left: 15px;
	padding-bottom: 15px;
	border-left: 3px solid #CEC;
	font-weight: bold;
}

#footer {
	clear: both;
}

li {
	list-style: none;
}

.link-to-actions {
  margin: 15px 0px 5px 0px;
}

.link-to-actions a {
	border: 3px solid #6C9;	
	border-radius: 5px;
  padding: 3px 10px;

  text-decoration: none;
  color: #FFF;
  background-color: #888;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(100% 100% 90deg, #898, #565);
  
  /* Safari 4-5, Chrome 1-9 */
  /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565), to(#898));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(#898, #565);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(#898, #565);
}

.link-to-actions a:hover {
  color: #FFF;
  background-color: #6C9;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(100% 100% 90deg, #696, #565);
  
  /* Safari 4-5, Chrome 1-9 */
  /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565), to(#696));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(#696, #565);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(#696, #565);
}

td, th {
	padding: 3px 10px;
}

.field {
	padding: 5px 0px;
}

/* Nav Menu */

#header, #footer {
	margin: 0 auto;
	width: 800px;
	
	overflow: hidden;
	background-color: #AAA;
	border-radius: 5px;
}

#header-logo, #header-tagline {
	float: left;
	padding: 0 10px;	
}

#header-tagline {
	color: #FFF;
	font-style: italic;
	margin: 0px;
}

#header-menu, #footer-menu {
	float: right;
	padding: 0 10px;	
}

#navigation-menu li, #footer-menu li {
	padding: 0 10px;
	float: left;
}

#navigation-menu li a, #footer a {
	color: #8e8;
	text-decoration: none;
}

#navigation-menu li a:hover, #footer a:hover {
	color: #FFF;
	text-decoration: underline;
}

#footer-menu li a {
	font-weight: bold;
}

#footer-menu li {
	font-size: 16px;
	font-family: verdana;
}

#header-logo h3 {
  margin: 10px 0px 5px 0px;
}

#header-logo a {
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;	
}

#facebook-like-buttons {
	float: right;
  padding-top: 10px;
}

/* Home comic list */

.top-rated-sections {
	overflow: hidden;

	margin: 10px auto;
	padding: 0px;
}

.top-rated-sections .top-rated-comics {
	float: left;
	border: 3px solid #6C9;	
	border-radius: 5px;
  padding: 10px;
  margin: 2px;
  width: 500px;

  color: #222;
  background-color: #274727;
/*  background-color: #98fb98;*/

  /* Firefox 3.6+ */ 
  /* -moz-radial-gradient( [<position> || <angle>,]? [<shape> || <size>,]? <stop>, <stop>[, <stop>]* ) */
  background: -moz-radial-gradient(80% 20% , farthest-corner, #274727, #449955) repeat scroll 0 0 transparent;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 80% 20%, 0, 80% 40%, 100, from(#274727), to(#449955));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(80% 20%, farthest-corner, #274727, #449955);
}

.top-rated-sections .section-helper-links {
	clear: both;
	float: right;
}

.top-rated-sections .comic-name {
	font-size: 20px;
	margin-bottom: 5px;
}

.top-rated-sections .comic-author, .top-rated-sections .comic-rating {
	font-size: 18px;
	margin-bottom: 3px;
}

.top-rated-sections h2 {
	margin: 10px 0 0 7px;
	color: #888;
}


.sidebar .sections {
	border: 3px solid #6C9;
}

.comic-book-cover img {
	 height: 100px;	
	 width: 73px;
}

.rating-widgets {
  width: 95px;	
}

.user-comic-list-sections {
	margin: 30px 0;
	overflow: hidden;
}

.user-comic-list-sections h3 {
	color: #888888;
  margin: 10px 0;
}

.user-comic-lists, .user-comic-lists a {
	clear: both;
	color: #262;
	font-weight: bold;
	margin: 2px 0px;
	padding: 5px 0px;
	line-height: 16px;
}

.list-index, .list-user-username, .list-rating-count {
	float: left;
}

.list-index {
	width: 20px;
}

.list-user-username {
	width: 100px;
}

.list-rating-count {
	width: 20px;
}

.section-left {
	float: left;
}

.section-middle {
	float: left;
  padding: 0 15px;
}

.section-right {
	float: right;
}

.pagination, .section-middle {
	color: #121;
  font-weight: bold;
  text-shadow: 0 0 2px #999999;
}

.section-right .link-to-actions a:hover {
	box-shadow: 3px 3px 1px #333;

	margin-left: -1px;
	margin-top: -2px;
}

/* User comic list */
#share-this {
	float: right;
	font-size: 12px;
}

#your-comic-list {
	clear: both;
	margin: 20px 0;
}

.suggest-comics {
	float: right;
	font-size: 12px;
}

.login-panels {
	float: left;
	padding: 20px;
	width: 44%;
	margin-bottom: 20px;
}

#email-login h3 {
	text-align: center;
}

#email-login {
	border-right: 3px solid #88A;	
}

#other-login-providers {
	text-align: center;
}